@import '../../../styles/settings.scss';

.image {
    display: block;
    width: auto;
    height: 70vh;

}

.text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .title {
        font-family: $font_headers;
        color: #2d2a2a;
        letter-spacing: 4px;
        font-weight: 700;
        font-size: 50px;
    }

    .subtitle {
        letter-spacing: 2px;
        color: $color_one;
    }
}

.aside{
    .box{
        margin: 6% 0;
        overflow: hidden;

        .background{
            display: block;
            height: 32vh;
            width: 40vh;
            transition: $transition;
            &:hover {
                transform: scale(1.2);
            }
        }
   
    }
}


@media (min-width: 320px) and (max-width: 500px) {
    .image {
        width: auto;
        height: 40vh;
    }
    .text{
        .title{
            font-size: 25px;
        }
        .subtitle{
            font-size: 16px;
        }
    }
    .aside {
        .box {
            .background {
                width: auto;
                height: 40vh;
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 700px) {
    .image {
        height: 50vh;
    }
    .aside {
        .box {
            .background {
                height:50vh;
            }
        }
    }

}
