@import '../../../styles/settings.scss';

.footer {
    background-color: $color_two;
    display: flex;

    .icons{
        margin-left: 4%;
        width: 10%;
        .icon {
            width: 40px;
            height: 40px;
            margin: 2%;
            border-radius: 90%;
            background-color: $color_three;
            display: inline-block;
            text-align: center;
            line-height: 40px;
            box-shadow: 0 5px 5px rgba(0,0,0,.5);
            &:hover{
                transition: $transition;
                background-color: $color_one;
                color: $color_three;
            }
        }
    }

    .text {
        margin: 0 auto;
    }
}