@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@700&display=swap');

$font_color: rgb(45, 42, 42);
$color_one: #00b894;
$color-two: #F2F2F2;
$color_three: #fff;

$font_headers: 'Roboto', sans-serif;
$font_text: 'Cabin', sans-serif;

$transition: .3s;
